.jsc{border:1px solid #eee;width:100%;font-size:12px;height:24px;overflow:hidden;}
.jsc ul{list-style-type:none;margin:0;padding:0;margin-left:32px;}
.jsc ul li{height:26px;line-height:26px;width:100%;float:left;display:inline;}