*{
    margin:0;padding:0;
}
#container {

}
#footer {
    position: relative; 
    height: 70px;
    clear:both;
} 
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix { 
    height: 1%;
}
.clearfix {
    display: block;
}
body{
    background:#2a2b2d;
    font:13px/1.3 'Microsoft Yahei','宋体'; 
    color:#999;
}
#page,#footer_inner{
    margin:0 auto;
    width:960px;
}
    h1#logo{
        overflow:hidden;
        height:93px;
        padding: 25px 0;
    }
    h1#logo a{
        display:block;
        height:93px;
    }
    #container{
        margin:0 auto;
        padding:40px 0 0;
    }
    #container h2 {
        font-weight:normal;
        line-height:28px;
    }
    #container p{
        padding:10px 0;
    }