*{
    margin: 0;
    padding: 0;
}
.content{
    width: 100%;
    height: 3000px;
    position: relative;
}
.content .cont-1{
    width: 100%;
    height: 900px;
    background-color: red;
}
.content .cont-2{
    width: 100%;
    height: 900px;
    background-color: yellow;
}
.content .cont-3{
    width: 100%;
    height: 900px;
    background-color: pink;
}
.content .cont-4{
    width: 100%;
    height: 300px;
    background-color: brown;
}
.content .roll_top{
    width: 120px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #000;
    font-size: 16px;
    position: fixed;
    right: 20px;
    bottom: 100px;
}